Tests/TraceProcessingAlgorithmParameters.xsd.in

<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'
           xmlns:auger="http://www.auger.org/schema/types">

  <xs:import namespace="http://www.auger.org/schema/types"
             schemaLocation="@XMLSCHEMALOCATION@/AugerSchemaTypes.xsd"/>

  <xs:element name="traceProcessingAlgorithmParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="traceProcessingModels"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>



  <xs:element name="traceProcessingModels">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="traceProcessing" type="traceProcessingType" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>


  <xs:complexType name="traceProcessingType">
    <xs:all>
      <xs:element name="minLength" type="xs:positiveInteger"/>
      <xs:element name="saturatedBinsThreshold" type="xs:positiveInteger"/>
    </xs:all>
    <xs:attribute name="id" type="xs:string" use="required"/>
  </xs:complexType>

</xs:schema>